body {
	font-family: "Impact";
	background-color: darkturquoise;
	margin: 100px;
	text-align: center;
}

h1 {
	font-size:200px;
	color: darkred;
}

h2 {
	font-size:45px;
	color: darkgreen;
}

a {
	text-decoration: none;
	color: darkgreen;
}