@font-face {
  font-family: evilLaughter;
  src: url(../fonts/evilLaughter.otf);
}

body {
	font-family: "Impact";
	font-size:20px;
	color: darkgreen;
	background-color: darkturquoise;
	margin: 100px;
	text-align: center;
}

h1 {
	font-family: "evilLaughter";
	color: darkturquoise;
}

a {
	text-decoration: none;
	color: darkturquoise;
}